body{
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.428571429;
    color: #ffffff;
}

.navbar-default{
    background-color: #009dd7;
    border-color: #009dd7;
}

nav .logo{
    padding: 0;
}
nav .container{
    padding-right: 100px;
    padding-left: 100px;
}
nav .navbar-nav{
    margin-top: 6px;
}

nav .btn{
    margin-right: 30px;
    width: 120px;
    color: #ffffff;
    background-color: #1cade9;
    border-color: #1cade9;
    font-size: 16px;
}
nav .navbar-default .navbar-nav > li > a{
    font-size: 16px;
    color: black;
}
nav .btn-default:hover{
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.tab{
    margin-top: 36px;
    margin-bottom: 10px;
}

.tab .center{
    margin: 0;
}
.tab .thumbnail{
    padding: 0;
    margin: 0 -40px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.tab .thumbnail .title-img{
    display: block;
    width: 640px;
}
.tab img{
    display: block;
    max-width: 100%;
    vertical-align: top;
   margin: 20px auto;
}
.tab .caption{
    padding: 20px 40px 0 40px;
}
.tab .caption h3{
     margin-bottom: 30px;
 }
.tab .caption h4{
    margin-bottom: 25px;
    font-weight: 600;
}
.tab p{
    color: #444;
    line-height: 2em;
    font-size: 17px;
}
.tab .p-right{
    text-align: right;

}

.tab2{
    margin-bottom: 10px;
}
.tab2 .container{
    color: #444;
}
.tab2-center{
    font-size: 17px;
    background-color: #ffffff;
}
.tab2 .thumbnail{
    padding: 20px 40px;
    margin: 0 -40px;
    line-height: 2em;
    background-color: #ffffff;
    border-color: #ffffff;
}
.tab3{
    color: #444;
    margin-bottom: 20px;
}
.tab3-center{
    text-align: center;
    background-color: #ffffff;
}
.tab3 .thumbnail{
    padding: 0;
    margin: 0 -40px;
    background-color: #ffffff;
    border-color: #ffffff;
}
.tab3 p{
    color: #999999;
}
footer{
    margin-bottom: 20px;
}
footer p,footer a{
    text-align: center;
    color: #999999;
}